 .input-group {
    margin: 1em auto;
    max-width: 500px;
}
.container {
    text-align: center;
}
.temp {
    font-size: 4em;
}
.description {
    font-size: 2em;
}
.city-name {
    letter-spacing: 3px;
    text-transform: uppercase;
}
.weather-info {
    display: none;
}
#icon {
    font-size: 3em;
}
.wi{
	font-size: 5em;
}
body{
	background-image: url(https://i.pinimg.com/originals/ad/99/0c/ad990c716c1487af6e7d6f95cc38d937.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}